#highlighted {
    padding: 1rem 10rem 1rem 10rem;
}

.highlighted-header {
    display: flex;
    justify-content: space-between;
}

#highlighted .btn-category {
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.movies-banner img{ 
    height: 350px;
}

.btn-plus-icon {
    height: 40px;
}

@media (max-width: 600px){
   #highlighted{
       width: 100%;
       padding: 10px;
   }
    .highlighted-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        
    }

    .movies-banner {
        margin: 34px;
    }



}  
    


