.custom-nav {
    /* background-color: #C0C0C0; */
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1)
}

.navigation > li {
    border-right: 1px solid black;
}

.navigation > li:last-of-type {
    border-right: 0
}

.navigation > li > a {
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.nav-search {
    position: relative;
}

.nav-search {
    position: relative;
}

.nav-search input {
    padding: 5px;
    padding-left: 30px;
    padding-right: 50px;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.nav-search input::placeholder{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.nav-search .search-icon {
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-search .x-icon {
    width: .9rem;
    height: .9rem;
    position: absolute;
    top: 10px;
    right: 10px;
}