#ratings {
    padding: 1rem 10rem 1rem 10rem;
    background-color: #FFC0CB;
}

.user-icon {
    height: 48px;
}

@media (max-width: 600px){
    #ratings {
        width: 100%;
        padding: 10px;
    }

    

    p{
        font-size: 17px;
    }
}